body{background-color: #f8f8f8;color:#302c22}
.fullscreenbody{height:100%;width:100%;margin:0px;display:table;vertical-align:middle;text-align:center}
.centreme{display:table-cell;vertical-align:middle;}
hr{border-top-color:#e1e1e1}
a:hover .nolink{text-decoration:none;display:inline-block}
a:focus .nolink{text-decoration:none;display:inline-block}
